.card {
    background-color: dimgray;
    display: inline-block;
    padding: 10px;
    border: 2px solid rgb(154, 255, 145);
    vertical-align: top;
    margin: 10px;
    border-radius: 10px;
    color: #f0f;
    box-shadow: 0 0 5px 5px rgb(69, 228, 42);
    text-shadow: 0 0 2px #000;
}

.card > img {
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 0 5px 5px rgb(228, 42, 69);
    border: 2px solid rgb(255, 145, 145);
}

#wrong_image {
    filter: invert();
}

* {
    box-sizing: border-box;
    margin: 0;
}

form > input {
    display: block;
}